[submodule "cloudflare-ddns"]
	path = cloudflare-ddns
	url = git@github.com:aaftio/docker-cloudflare.git
[submodule "bitcoin-core/bitcoin"]
	path = bitcoin-core/bitcoin
	url = https://github.com/bitcoin/bitcoin.git
[submodule "rsshub/RSSHub"]
	path = rsshub/RSSHub
	url = git@github.com:code4thought/RSSHub.git
[submodule "frp/frp"]
	path = frp/frp
	url = https://github.com/fatedier/frp.git
